button
{
   background-color: black;
   color: white;
   border-radius: 10px;
   width: 100px;
   height:50px;
   cursor: pointer; 
   transition: background-color 0.3s, color 0.3s; 
}
 button:hover
{
   background-color: rgb(237, 227, 227);
   color: rgb(19, 1, 1);
   
}